@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f1f1f1;  
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
